@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700;900&family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(http://www.jalurdigital.net/h10/asset/top-wp1.png);
    background-size: cover;
    color: black;
    text-align: left;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 75px;
    margin-bottom: 10px;
}

.top-wrapper h2 {
    margin-top: 25px;
    color: #fca70c;
    font-family: "Lato";
    font-size: 40px;
    line-height: 20px;
}

.top-wrapper p {
    text-align: justify;
    opacity: 0.7;
    width: 400px;
    font-size: 18px;
    line-height: 1.4;

}

.btn-wrapper {
    text-align: left;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.more {
    background-color: #5a57a5;
    border-radius: 20px !important;
}


.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}


header {
    height: 65px;
    width: 100%;
    background-color: rgb(128, 0, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 124px;
    margin-top: 20px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;

}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    font-size: 18px;
    display: block;
    float: left;
    transition: all 0.5s;
    font-weight: bold;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


header .container span {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}



.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.content-wrapper .heading h2 {
    font-weight: bold;
    font-size: 32px;
}

.content-wrapper {
    padding-bottom: 80px;
    text-align: center;
}

.content {
    float: left;
    width: 30%;
    margin-bottom: 50px;
    margin-left: 29px;
}

.content p {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #b3aeb5;
    text-align: center;
}

.content h1 {
    font-size: 24px;
    color: #5f5d60;

}
.contents{
    margin-left: 12px;
}


/*Bagian Chandra*/
.heading .border {
    border-bottom: 2px solid orange;
    margin: 0 33%;
}

.features-wrapper {
    padding: 0 30px 0 0;
    height: auto;
    background-color: #f7f7f7;
    /*background-color: #fff;*/
    text-align: center;
}

.features-wrapper p {
    padding: 15px 10%;
    font-size: 18px;
    height: auto;
    line-height: 30px;
    margin: auto;
    color: #7a747d;
}

.features-wrapper .heading p {
    font-size: 20px;
    padding-top: 20px;
}

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.features-heading h3 {
    margin-bottom: 0;
    font-family: 'Nunito', helvetica, sans-serif;
    color: #5f5d60;

}

.features-heading p {
    padding-top: 0;
}

.feature {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    margin: 30px;
}

.feature .border {
    transition: 0.5s all;
    border-bottom: 2px solid orange;
    margin: 0 33%;
}

.card img {
    opacity: 0.7;
    transition: 0.5s all;
}

.card:hover img {
    transition: 0.5s all;
    opacity: 1;
}

.card:hover {
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow, top;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.card:hover .border {
    transition: 0.5s all;
    border-bottom: 2px solid orange;
    margin: 0 20%;
}


.contact-form {
    padding-top: 50px;
}

.contact-form .heading {
    padding-top: 30px;
}


input,
textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: #5f5d60;
}

.input {
    height: 12px;
}


.submit {
    padding: 15px 40px;
    background-color: #5a57a5;
    cursor: pointer;
    box-shadow: 0 7px #2d2c59;
}

.submit:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.heading h1 {
    text-align: center;

}


footer {
    background: #303036;
    color: #d3d3d3;
    height: 350px;
    margin: auto;
    padding: 20px 0 0 0px;
    position: relative;
}

footer .footer-content {
    height: 200px;
    display: flex;
}

footer .footer-content .footer-section {
    flex: 1;
    margin-left: 10px;
}

.footer-section h5 {
    font-size: 20px;
}

.tentang {
    padding: 0 20px;
}

.tentang p {
    line-height: 1.3;
    padding-right: 20px;
}


.footer-bottom {
    background: #343a40;
    color: #686868;
    height: 20%;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
}

.fa {
    margin-right: 5px;
}

.social span {
    margin: 5px;
}

.social a {
    color: #fff;
    margin-left: 5px;
}

.social .fa-facebook {
    margin-right: 11px;
}

.social .fa-instagram {
    margin-right: 8px;
}

.social ul {
    padding-left: 0px;
}

.fb:hover span {
    color: #3b5998;
}

.tw :hover span {
    color: #55acee;
}

.ig :hover span {
    color: firebrick;
}
.products {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-bottom: 10px;
    width: 1200px%;
    max-width: 1200px;
    margin: auto;
}
.product {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: auto;

}
.product img { 
    width: 80%;
}
